table, th, td {
  table-layout: fixed;
  font-size: 120%;
  border: 1px solid black;
  border-collapse: collapse;
  cursor: pointer;
}

table {
  height: 100%; width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

td.red.clicked {
  background-color:red;
}

td.blue.clicked {
  background-color:blue;
}

td.none.clicked {
  background-color:gray;
}

td.bomb.clicked {
  background-color:black;
  color:white;
}

tr {
  text-align: center;
}